
<h2>Current Orders in System</h2>
<h4><%= link_to "Ordered: ", restaurant_admin_order_custom_show_path(owned_restaurant, "ordered") %> <%= @ordered.size %></h4>
<h4><%= link_to "Paid: ", restaurant_admin_order_custom_show_path(owned_restaurant, "paid") %> <%= @paid.size %></h4>
<h4><%= link_to "Completed: ", restaurant_admin_order_custom_show_path(owned_restaurant, "completed") %> <%= @completed.size %></h4>
<h4><%= link_to "Cancelled: ", restaurant_admin_order_custom_show_path(owned_restaurant, "cancelled") %> <%= @cancelled.size %></h4>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Order Id</th>
    <th>Creation Date</th>
    <th>Completed/Cancelled Date</th>
    <th>Customer Name</th>
    <th>Total Price</th>
    <th>Order Status</th>
    <th>Update Status</th>
    <th>Order Details</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, edit_restaurant_admin_order_path(owned_restaurant, order) %></td>
        <td><%= (order.created_at).to_formatted_s(:long) %></td>

        <% if order.cancelled? || order.completed? %>
            <td><%= (order.updated_at).to_formatted_s(:long) %></td>
        <% else %>
            <td></td>
        <% end %>

        <td><%= order.user.first_name %> </td>
        <td><%= print_price(order_price(order.items)) %> </td>
        <td><%= order.status.humanize %> </td>

        <td class="status-buttons">
          <%= order_button_display(order) unless order.status == "completed" || order.status == "cancelled" %>
          <%= link_to "Cancel", restaurant_admin_order_status_path(owned_restaurant, order.id, 'cancel'), method: :PATCH, remote: true, class: 'btn btn-grey3 status-button' if order.may_cancel? %>
        </td>

        <td><%= link_to "View/Edit Order", edit_restaurant_admin_order_path(owned_restaurant, order), class: "btn btn-info" %>
      </tr>
  <% end %>
  </tbody>
</table>
