<div class="row">
  <div class="col-md-1 col-md-offset-5">
    <%= form_for(@restaurant) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :cuisine %>
        <%= f.text_field :cuisine %>

        <%= f.label :custom_url  %>
        <%= f.text_field :slug_name  %>

        <%= f.submit class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
