<div id="masonry-grid" style="text-align:center">
    <h1><%= @item.title.capitalize %></h1>
    <%= image_tag @item.image.url %><br/>
    <%= @item.title %><br/>
    <%= @item.description %><br/>
    <%= print_price(@item.price) %><br/>
    <%= 'Category'.pluralize(@categories.size) %>:
    <%= @categories.map { |category| category.title }.join(', ') %>
    <%= link_to "<< Return to Restaurant", :back %>
</div>
