<%= form_for(@category, html: {multipart: true}, :url => restaurant_admin_category_path(owned_restaurant,@category) ) do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit "Save Changes", class: "btn btn-primary btn-lg" %>
    <%= link_to "Cancel", restaurant_admin_categories_path %>
  </p>

<% end %>
