<%= form_for(@category, :url => restaurant_admin_categories_path(current_restaurant)) do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true %>
  </p>
  <p>
  	<%= f.label :description %><br/>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.submit %>
    <%= link_to "Cancel", restaurant_admin_dashboard_index_path(current_restaurant) %>
  </p>
<% end %>
